# frozen_string_literal: true

# Ignore editor files
.idea

# Ignore debugger files
.byebug_history

# Ignore local RSpec setup
.rspec-local

# Ignore Profile files
spec/examples.txt

# Ignore test coverage output
coverage
